# most of this is lifted from github.com/QubitProducts/bamboo. Thanks!
# This just serves to be an example haproxy configuration file
global
        log /dev/log    local0
        log /dev/log    local1 notice
        # chroot /var/lib/haproxy
        stats socket /var/run/haproxy-admin.sock mode 660 level admin
        stats timeout 30s
        user daemon
        group daemon
        daemon

defaults
        log     global
        mode    http
        option  httplog
        option  dontlognull
        timeout connect 5000
        timeout client  50000
        timeout server  50000

# Template Customization
frontend http-in
        bind *:80
        {{ range $index, $service := . }}{{if $service.HTTPProtocol }}
        acl {{ $service.EscapeAppIdColon }}-aclrule hdr(host) {{ $service.Vhost }}
        use_backend {{ $service.EscapeAppIdColon }}-{{$index}}-cluster if {{ $service.EscapeAppIdColon }}-aclrule
        {{ end }}{{ end }}

        stats enable
        # CHANGE: Your stats credentials
        stats auth admin:admin
        stats uri /haproxy_stats

{{ range $index, $service := . }}{{ if $service.TCPProtocol }}
listen {{ $service.EscapeAppIdColon }}-{{$index}}-cluster-tcp :{{$service.Port}}
        mode tcp
        option tcplog
        balance roundrobin{{ range $i, $task := $service.Tasks }}{{ range $j, $port := $task.Ports }}
        server {{ $task.Id }} {{ $task.Host }}:{{ $port }}{{ end }}{{end}}
{{end}}
{{ if $service.HTTPProtocol }}
backend {{ $service.EscapeAppIdColon }}-{{$index}}-cluster{{ if $service.HealthCheckPath }}
        option httpchk GET {{ $service.HealthCheckPath }}{{ end }}
        balance roundrobin
        option httpclose
        option forwardfor{{ range $i, $task := $service.Tasks }}{{ range $j, $port := $task.Ports }}
        server {{ $task.Id }} {{ $task.Host }}:{{ $port }}{{ if $service.HealthCheckPath }} check inter 30000{{ end }}{{ end }}{{end}}
{{ end }}{{ end }}


