http {
{{range $index, $service := . }}{{if $service.HTTPProtocol }}
  upstream {{$service.EscapeAppIdUnderscore}} { {{ range $i, $task := $service.Tasks }}{{ range $j, $port := $task.Ports }}
    server {{ $task.Host }}:{{ $port }} slow_start=2;{{end}}{{end}}
  }
  server {
    # application {{$service.AppId}} at domain {{$service.Vhost}}
    listen 80 default_server;
    server_name {{$service.Vhost}};
    root  /srv/www/default/public;
    proxy_pass http://{{$service.EscapeAppIdUnderscore}};
  }
{{end}}{{end}}
}
