# should be included in a conf.d directory
{{range $index, $service := . }}{{if $service.HTTPProtocol }}{{ $backend := $service.EscapeAppIdUnderscore }}
upstream {{$backend}} { {{ range $i, $task := $service.Tasks }}{{ range $j, $port := $task.Ports }}
  server {{ $task.Host }}:{{ $port }};{{end}}{{end}}
}
server {
  # application {{$service.AppId}} at domain {{$service.Name}}
  listen 80;
  server_name {{$service.Name}};
  root  /srv/www/default/public;
  location / {
    proxy_pass http://{{$backend}};
  }
}
{{end}}{{end}}
